{# Check if the user is authenticated #}
{% if auth %}
    {# We load the bootstrap CSS #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    {# Create the header with the case number and form title #}
    <h4><strong>Case #:</strong> {{ app_number }} <strong>Form:</strong> {{title}}</h4>
    {# Create the form. We define the id as pm_dynaform to use later in javascript. We also specify the endpoint in drupal we will use to save the form and finally specify the method to use as POST #}
    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#form" aria-controls="form" role="tab" data-toggle="tab">Form</a></li>
            <li role="presentation"><a href="#process_map" aria-controls="process_map" role="tab" data-toggle="tab">ProcessMap</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="form">
                <form id="pm_dynaform" action="/processmaker/saveForm" method="post">
                    <fieldset>
                        {# We loop through the fields #}
                        {% for row in fields %}
                            {# Create the form group for each row of fields #}
                            <div class="form-group">
                                {% for field in row %}
                                    {# For each field in the row of potential fields, since this is pulling from the ProcessMaker api, and ProcessMaker supports multi column layout, we are supporting that in the template as well #}
                                    {# If the field type is submit, we don't want to create an element on the form. Also, if there is no field type we don't want to create a blank field #}
                                    {% if field.type != 'submit' and field.type %}
                                        {# If the field type is text, we create a regular field #}
                                        {% if field.type != 'datetime' %}
                                            {# We specify the column span to create the multi column layout #}
                                            <span class="col-md-{{ field.colSpan }}">
                                {# We add the field name and label #}
                                                <label for="{{ field.name }}">{{ field.label }}</label>
                                                {# Create the input group for each field #}
                                                <div class="input-group">
                                                    {# Create the field and add the type, name and hint that it was created with in ProcessMaker #}
                                                    <input type="{{ field.type }}" id="{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.hint }}" class="form-control" />
                                                    {# Add the icon to make it look pretty #}
                                                    <div class="input-group-addon">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </div>
                                                </div>
                            </span>
                                        {% elseif field.type == 'datetime' %}
                                            {# If it is a date field, then we will use the jquery ui calendar widget #}
                                            {# We specify the column span to create the multi column layout #}
                                            <span class="col-md-{{ field.colSpan }}">
                                {# We add the field name and label #}
                                                <label for="{{ field.name }}">{{ field.label }}</label>
                                                {# Create the input group for each field #}
                                                <div class="input-group">
                                                    {# Create the field and the name and hint that it was created with in ProcessMaker #}
                                                    <input type="text" id="{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.hint }}" class="form-control date" />
                                                    {# Add the icon to make it look pretty #}
                                                    <div class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </div>
                                                </div>
                            </span>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                        {# Create hidden fields to store the meta data that will get sent back to the controller to process the save and routing #}
                        <input type="hidden" id="appuid" name="appuid" />
                        <input type="hidden" id="prouid" name="prouid" />
                        <input type="hidden" id="delindex" name="delindex" />
                        {# Create the submit button and pull the label given to the submit button from the ProcessMaker api #}
                        {% for btn in submit %}
                        <span class="col-md-{{ btn.colSpan }}" style="margin-top:1em;">
                            {% if btn.label == 'Approve' %}
                <button type="submit" class="btn btn-success form-control">{{ btn.label }}</button>
                            {% elseif btn.label == 'Reject' %}
                <button type="submit" class="btn btn-danger form-control">{{ btn.label }}</button>
                            {% else %}
                <button type="submit" class="btn btn-success form-control">{{ btn.label }}</button>
                            {% endif %}
            </span>
                        {% endfor %}
                    </fieldset>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="process_map">
                <iframe id="process_map_area" width="100%" height="100%" frameborder="0">

                </iframe>
            </div>
        </div>

    </div>
{% endif %}